*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    background-color: #000022;
}

header h1{
    color: #fff;
    padding: 1rem; 
    text-align: center;
}

main{
    height: calc(100vh - 69px);
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    margin: 0.5rem;
}

button{
    background-color: #000022;
    color: #fff;
    padding: 0.8rem;
    border-radius: 10px;
}